@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia ', serif;
    background-color: #0b0b0c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1, p {
    text-align: center;
    color: #333;
}


.upload-container {
    background-color: #f4f3f6;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
}

.header h1 {
    font-size: 36px;
    font-family: 'Didot', sans-serif;
    margin-bottom: 10px;
}

.header p {
    font-size: 18px;
    color: #000000;
}


.camera-section {
    margin: 20px 0;
}

video {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.capture-btn {
    font-family: 'Georgia ', serif;
    margin-top: 15px;
    padding: 12px 25px;
    background-color: #000f19;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.capture-btn:hover {
    background-color: #000f19;
}


.preview-section {
    margin-top: 20px;
}

canvas, img {
    display: none;
    width: 100%;
    height: auto;
    max-width: 500px; 
    border-radius: 15px;
    margin-bottom: 20px;
}

.upload-form {
    margin-top: 20px;
}

#fileInput {
    display: none;
}

.upload-btn {
    font-family: 'Georgia ', serif;
    padding: 12px 30px;
    background-color: #21474e;
    color: #efefe6;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-btn:hover {
    background-color: #21474e;
}


@media (max-width: 600px) {
    .upload-container {
        padding: 20px;
    }

    .header h1 {
        font-size: 28px;
    }

    .capture-btn, .upload-btn {
        font-size: 14px;
        padding: 10px 20px;
    }
}
